Source: rr272x
Section: kernel
Priority: optional
Maintainer: Lennart Weller <lhw@ring0.de>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), dkms

Package: rr272x-dkms
Architecture: i386 amd64
Depends: ${misc:Depends}, dkms, linux-libc-dev, libc6-dev, linux-headers-generic [i386 amd64] | linux-headers
Description: HighPoint RocketRaid 272x DKMS driver
 RocketRaid Driver for the 2720 series. This includes 2722, 2721, 2720, 2720SGL, 2711, 2710 all of which are
 SAS/SATA 6GB/s compatible raid cards.
